/* p{
    color: red;
    background-color: black;
    font-size: 26px;
    border: 3px solid rgb(255, 251, 1);
    border-radius: 5px;
    padding: 3px;
    margin-left: 10px;

    width: fit-content;
} */
